@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

$darkMagenta: hsl(300, 43%, 22%);
$SoftPink: hsl(333, 80%, 67%);
$DarkGrayishMagenta: hsl(303, 10%, 53%);
$LightGrayishMagenta: hsl(300, 24%, 96%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  width: 100vw;
  height: 100vh;

  //   background-position: -300px -580px, 600px 370px;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  height: 80%;
  border: 5px solid transparent;
}

.head {
  display: grid;
  grid-template-columns: 50% auto;
  grid-gap: 5px;
  margin-bottom: 50px;
  .class-a {
    padding-right: 60px;
    h1 {
      font-size: 50px;
      font-weight: bold;
      color: $darkMagenta;
      letter-spacing: -2px;
      margin-bottom: 20px;
    }
    h4 {
      font-size: 15px;
      font-weight: 400;
      color: $darkMagenta;
    }
  }
  .class-b {
    padding-left: 10px;
    .review {
      border: 1px solid $LightGrayishMagenta;
      background-color: $LightGrayishMagenta;
      border-radius: 5px;
      padding: 15px 20px 10px 30px;
      margin-bottom: 10px;
      width: 80%;
      img {
        display: inline-block;
      }
      p {
        display: inline-block;
        margin-left: 30px;
        font-size: 13px;
        font-weight: bold;
        color: $darkMagenta;
      }
    }
    .report {
      border: 1px solid $LightGrayishMagenta;
      background-color: $LightGrayishMagenta;
      border-radius: 5px;
      padding: 15px 20px 10px 30px;
      margin-bottom: 10px;
      margin-left: 30px;
      width: 80%;
      img {
        display: inline-block;
      }
      p {
        display: inline-block;
        margin-left: 30px;
        font-size: 13px;
        font-weight: bold;
        color: $darkMagenta;
      }
    }
    .tech {
      border: 1px solid $LightGrayishMagenta;
      background-color: $LightGrayishMagenta;
      border-radius: 5px;
      padding: 15px 20px 10px 30px;
      margin-bottom: 10px;
      margin-left: 60px;
      width: 80%;
      img {
        display: inline-block;
      }
      p {
        display: inline-block;
        margin-left: 30px;
        font-size: 13px;
        font-weight: bold;
        color: $darkMagenta;
      }
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  .class-c {
    border: 5px solid $darkMagenta;
    background-color: $darkMagenta;
    border-radius: 10px;
    width: 90%;
    padding: 20px;
    &.mid {
      transform: translateY(15px);
    }
    &.bot {
      transform: translateY(30px);
    }
    .head {
      display: grid;
      grid-template-columns: auto auto;
      margin-bottom: 20px;
      margin-top: 10px;
      img {
        border-radius: 50%;
        width: 30%;
        display: inline-block;
        grid-row: 1/3;
        margin-top: -10px;
      }
      h4 {
        display: inline-block;
        font-size: 13px;
        color: $LightGrayishMagenta;
        margin-left: -100px;
      }
      p {
        display: inline-block;
        font-size: 13px;
        color: $SoftPink;
        font-weight: 700;
        margin-left: -100px;
        margin-top: -15px;
      }
    }
    .body {
      p {
        font-size: 13px;
        font-weight: 400;
        color: $LightGrayishMagenta;
      }
    }
  }
}
